.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  input[type="text"] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 50px;
  }
  
  button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1ac937;
    color: #fff;
    border: solid #1ac937 2px;
    cursor: pointer;
  }
  
  #results {
    margin-top: 20px;
    text-align: left;
  }
  
  .movie {
    border-radius: 10px;
    min-height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #09ffad25;
  }
  
  .movie img {
    width: 100px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  .movie h2 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .movie p {
    margin: 5px 0;
  }
  